



.bobnavbar{
    background-color:#036ffc;
    color:blue;
}

.parallax {
  /* The image used */
  background-image: url("https://codehs.com/uploads/dc5823796a958ea96b11e4062a70f464");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.postactive{
    color:white;
    background-color:black;
}

/* Applies to screens 768px wide or smaller */
@media screen and (max-width: 960px) {
  body {
    background-color: #036ffc;
  }
  
.parallax {
  /* The image used */
  background-image: url("https://codehs.com/uploads/dc5823796a958ea96b11e4062a70f464");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:scroll;
  }
}

nav li:hover{
    background-color:green;
    transform: scale(1.05);
    transition: transform 0.5s ease; 
}

.highlight-btn:hover {
  animation: blink-animation 5s infinite;
}

@keyframes blink-animation {
  0% {
    background-color: #ff3b3b;
  }
  50% {
    background-color: #3b9dff;
  }
  75% {
    background-color: #3bff5c;
  }
  
  100% {
    background-color: #ff3b3b;
  }
}

.highlight{
  animation: blinkanimation 5s infinite;
}

@keyframes blinkanimation {
  0% {
    background-color: #ff3b3b;
  }
  50% {
    background-color:#036ffc;
  }
  75% {
    background-color: #3bff5c;
  }
  
  100% {
    background-color: #ff3b3b;
  }
}